input{
    width: 50%;
    height: 30px;
    margin: 30px;
    border-radius: 10px;
}
.App{
    text-align: center;
}
.my-3{
    text-align: center;
}
body{
    background-color: burlywood;
}
button{
    margin-right: 16px;
}
.card,.card-content{
 background-color: burlywood;
 color: black;
    text-align: justify;
    border: none;
}